
<div class="container-fluid">
        <div class="jumbotron text-center background-image">
            <div class="overlay">
                <div class="caption">
                    <h1 class="display-1 text-white">MINT SCRAPER</h1>
                    <h2 class="text-white">THE ONLY CONDITION IS MINT</h2>
                </div>
            </div>
        </div>
    <div class=row>
        <div class="col-12">
            {{#if articles}}
            {{#each articles}}
                <div class="card w-90">
                    <div class="card-header text-white" style="background-color:#DA7015">
                        <a href={{link}} target="_blank" class="text-white">
                            <h2>{{title}}</h2>
                        </a>
                    </div>
                    <div class="card-body">
                        <p class="card-text">
                            {{summary}}
                        </p>
                        <button id="{{_id}}" class="btn btn-dark save-btn">Save Article</button>
                    </div>

                </div>
                 <br/>
            {{/each}}
            {{else}}
                <div class="card text-white bg-warning w-90 p-1">
                    <div class="card-body text-center">
                        Uh oh. Looks like we don't have any new articles
                    </div>
                </div>
            {{/if}}
        </div>
    </div>
</div>